<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Units in STOCK</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let tempProducts of products">
            <td>
                <img src="{{tempProducts.imageUrl}}" height="50" />
            </td>
            <td>{{tempProducts.name}}</td>
            <td>{{tempProducts.unitPrice | currency:'USD'}}</td>
            <td>{{tempProducts.unitsInStock}}</td>
        </tr>
    </tbody>
</table>